langchain 
python-dotenv
langchain_community
pypdf
beautifulsoup4
requests
arxiv
langchain-text-splitters
httpx
python-dotenv
google-genai
chromadb
langchain-chroma
langchain-google-genai
faiss-cpu
chromadb
langchain-chroma
langchain-groq
httpx 